/* Reset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}table{border-collapse:collapse;border-spacing:0}

/* Custom Font */
/* http://tenbytwenty.com/?xxxx_posts=nevis */
@font-face {
	font-family: 'Nevis';
	src: url('nevis.ttf');
}

/* Variable Colors */
:root {
	--main-color: #ebc055;
	--main-color2: #ffd05c;
	--secondary-color: #494949;
	--retf2-color: #bf3d3d;
	--retf2-color2: #ff5151;
	--onlinesdk-color: #bfbfbf;
	--onlinesdk-color2: #e8e8e8;
	--steamcmd-color: #85bbff;
	--steamcmd-color2: #b2d4ff;
}

*::selection {
	background: rgba(0, 0, 0, 0);
	color: #030303;
}

a::selection {
	background: rgba(0, 0, 0, 0);
	color: var(--main-color);
}

body	{font:13px/1.1 Helvetica,sans-serif; color:#bfbfbf; overflow-x:hidden}
p		{line-height:1.6;}
hr		{border-style: solid; border-color:#bfbfbf;}

header {
	background-color: black;
	height: 216px;
	z-index: -2;
}

#video {
	position: absolute;
	opacity: .75;
	width: 100%;
	-webkit-filter:blur(2px);
	-ms-filter: blur(2px);
	-o-filter: blur(2px);
	filter: blur(2px);
}

.header {
	position: absolute;
	background-color: rgba(0,0,0,.5);
	height: 144px;
	width: 650px;
	margin: 26px 62px 26px 62px;
	padding: 10px;
	z-index: 2;
}

header img	{float:left; margin:14px; margin-left: 100px;}

#avatar	{
	height: 144px;
	width: 144px;
	background: url(../img/avatar.jpg);
	background-size: cover;
	float: left;
}

header h1		{
	margin-left: 180px;
	font-size: 20px;
	line-height: 50px;
}

.headerContent {
    padding: 0 1em 0 1em;
    margin-left: 144px;
    font-size: 15px;
}

.headerContent li {	padding: .2em 0 .2em 0;}
.headerContent a {color:var(--main-color2);}

section	{
	position: relative;
	height: 800px;
	margin: 0;
	padding: 100px;
	overflow:hidden;
}

section.background		{
	background-size:cover !IMPORTANT;
    background-position: right;
}

a div.clickable:hover {
	border-bottom: 4px solid #ebc055;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	transition: 0.15s;
	-webkit-transition: 0.15s;
	-moz-transition: 0.15s;
	-o-transition: 0.15s;
}

#menu {
    position: fixed;
    top: 30%;
    right: 0;
	width: 25px;
	z-index: 10;
}

#menu div {
	background: rgba(0,0,0,.25);
	height: 64px;
	width: 45px;
	float: right;
	color: transparent;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	transition: width .5s;
}

#menu div:hover {
	width: 120px;
	color: #bfbfbf;
	font: 18px bold, Arial;
	line-height: 64px !IMPORTANT;
}

#menu_main:hover {border-color: var(--main-color)}
#menu_RETF2:hover{border-color: var(--retf2-color)}
#menu_onlinesdk:hover{border-color: var(--onlinesdk-color)}
#menu_steamcmd-gui:hover{border-color: var(--steamcmd-color)}
#menu_works:hover{border-color:var(--main-color)}
#menu_contact:hover{border-color:var(--main-color)}

#menu_steamcmd-gui {font: 14px bold, Arial !IMPORTANT}

#Main {
	color: #cdcdcd;
	background: #868686;
	height: 584px;
	margin: 0;
	top: 0;
	left: 0;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: inset 500px 0px 0px 0px rgba(0,0,0,.25);
	-moz-box-shadow: inset 500px 0px 0px 0px rgba(0,0,0,.25);
	box-shadow: inset 500px 0px 0px 0px rgba(0,0,0,.25);
}

#Main article p {color:#cdcdcd}
#Main article a {color:var(--main-color)}
#Main article a:hover {color:var(--main-color2)}

#Main .container {
    position: absolute;
    margin-top: -100px;
    margin-left: 400px;
    width: 1203px;
    height: 584px;
	padding: 100px;
    z-index: 1;
}

#Main p {
	color: #cdcdcd;
}

#menu div, .edu {
	border-left: 4px solid var(--secondary-color);
}

div.edu {
	background-color: rgba(0,0,0,.25);
	padding: 15px;
	margin:10px;
}

.edu a {color: var(--main-color)}
.edu a:hover {color: var(--main-color2)}

.edu h3 {
	display: block;
	font-size: 1.2em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
}

.edu ul {padding-left:25px}
.edu ul li {margin-top:.5em}
.edu ul ul li {font-style:italic}

.edu hr {border-color: rgba(0,0,0,0)}

#RETF2	{
	background-image: url(../img/ee22/retf2_soldier.jpg);
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-box-shadow: inset 500px 0px 0px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 500px 0px 0px 0px rgba(0,0,0,0.5);
	box-shadow: inset 500px 0px 0px 0px rgba(0,0,0,0.5);
}

#RETF2 article {height:100%; position: relative;}

#RETF2 p	 {color: #c0c0c0;}

#RETF2 a {
	color: var(--retf2-color);
}

#RETF2 a:hover {
	color: var(--retf2-color2);
}

#RETF2 a div.clickable:hover {
	border-color: var(--retf2-color);
}

div.gallery-container {
	background-color: rgba(0,0,0,.25);
	width: 292px;
	margin: 12px 0px 0px 0px;
	padding: 4px;
}

#RETF2.render		 {background-image: url(../img/ee22/retf2_soldier.jpg)}
#RETF2.medals 		{background-image: url(../img/ee22/hlmv_medals.jpg)}
#RETF2.concept_art	{background-image: url(../img/ee22/concept_art_ee22_medal.jpg)}
#RETF2.ingame		{background-image: url(../img/ee22/ingame_screenshot.jpg)}

#RETF2.retros1		 {background-image: url(../img/ee22/retrospective_winner.jpg)}
#RETF2.retros2 		{background-image: url(../img/ee22/retrospective_participant.jpg)}
#RETF2.concept_art2	{background-image: url(../img/ee22/retf2_concept.jpg)}
				

/* Switch */
input#checkbox {display: none}
input#checkbox:checked ~ div#A					{display:none}
input#checkbox:checked ~ div#B					{display:block}
input#checkbox:checked ~ label.scrollbutton	{border-top: 4px solid var(--secondary-color)}

input#checkbox:not(:checked) ~ div#A				{display:block}
input#checkbox:not(:checked) ~ div#B				{display:none}
input#checkbox:not(:checked) ~ label.scrollbutton 	{border-bottom: 4px solid var(--secondary-color)}

label.scrollbutton {
	position: absolute;
	background-color: rgba(0,0,0,.25);
	cursor: pointer;
	display: block;
	width: 100%;
	height: 35px;
	bottom: 0;
}

label.scrollbutton:hover {
	border-color: #bf3d3d !IMPORTANT;
}

#JoJoSS {
	background: url(../img/Jojobackground.png);
	background-position-x: 20px;
}

#JoJoSS article {
		background: white;
		border: 1px solid #c5af7f !IMPORTANT;
		margin: -25px;
		margin-top: 0;
		padding: 25px;
}

#JoJoSS h1 {color:black}

	

#JoJoSS *	{color: black !IMPORTANT}
#JoJoSS a {color: #a99577 !IMPORTANT}

#OnlineSDK	{
	background-color: #101010;
	-webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
	-webkit-box-shadow: inset 500px 0px 0px 0px #1c1c1c;
	-moz-box-shadow: inset 500px 0px 0px 0px #1c1c1c;
	box-shadow: inset 500px 0px 0px 0px #1c1c1c;
}

#OnlineSDK iframe, #JoJoSS iframe {
	position: absolute;
	margin-top: -100px;
	margin-left: 400px;
	width: 75%;
	height: 100%;	
	z-index: 1;
}

#OnlineSDK a {
	color: var(--onlinesdk-color);
}

#OnlineSDK a:hover {
	color: var(--onlinesdk-color2);
}

#SteamCMD-GUI {
	background: #a5a5a5;
}

#SteamCMD-GUI .container {
	position: relative;
	background-color: rgba(0,0,0,.25);
	width: 300px;
	height: 100%;
	margin: -100px;
	padding: 100px;
	pointer-events: none;
	z-index: 1;
}

#SteamCMD-GUI article {
	background-color: rgba(124, 124, 124,.8);
	margin: -10px;
	padding: 10px;
	pointer-events: all;
}

#SteamCMD-GUI p, #SteamCMD-GUI a h2 {color: #cdcdcd}

#SteamCMD-GUI a {color: var(--steamcmd-color);}

#SteamCMD-GUI a:hover {color: var(--steamcmd-color2);}

.man {pointer-events:none}

.window {
	position: absolute;
	margin-top: -100px;
	margin-left: -100px;
	width: 100%;
	height: 100%;	
	z-index: 1;
}

.drag {
	position: absolute;
	cursor: move;
	float: left
}

.screen1 {margin:10px 0px 0px 1000px}
.screen2 {margin:250px 0px 0px 600px}
.screen3 {margin:400px 0px 0px 700px; z-index: -1}
.icon {margin:10px 0px 0px 520px; z-index: -1; position:absolute !IMPORTANT}

.console {
	font: 12px Lucida Console, Consolas;
	text-align: left;
}

.prompt {
    border-bottom: 2.5px solid;
    -webkit-animation: blinking 1s step-end infinite;
    animation: blinking 1s step-end infinite;
}

@-webkit-keyframes blinking {
    from, to { border-color: transparent; }
    50% { border-color: #cdcdcd; }
}

#Gallery {
	background: #b4b4b4;
	padding: 100px 190px 100px 190px;
	height: inherit;
	min-height: 800px;
}

#Gallery h1 {
	color: #d8d8d8 !IMPORTANt;
	width:100%;
}

#Gallery div ul {	background-color: rgba(216,216,216,.25);}
 
.wrap {
	float: left;
	width: 25%;
	display: inline-block;
	position: relative;
	transition: width .5s;
}

.wrap:after {
	/* 16:9 aspect ratio */
	padding-top: 56.25%;
	display: block;
	content: '';
}

.img {
	position: absolute;
	margin: 10px;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background-size: 100% !IMPORTANT;
	background-position: center !IMPORTANT;
}

#Contact {
	height: 700px !IMPORTANT;
	background: #c9c9c9;
}

.contact {
	color: #bababa;
	width: 100%;
	margin-left: 90px;
}

#Contact hr	{border-color: #bababa}

.socialmedia {
	background: #bababa;
	height: 216px;
}

#Footer {
	background-color: rgba(0,0,0,.25);
	padding: 25px;
	height: 40px !IMPORTANT;
}

#Footer pre {
	font-style: italic;
	color: #4f4f4f;
}

#Footer a {color:#353535}
#Footer a:hover {color:#000}

div.img-small {
	float: left;
	margin: 3px;
	width: 140px;
	height: 78px;
	background-size: 100% !IMPORTANT;
}

/* Mobile setting */
@media screen and (max-width: 640px) and (orientation: landscape) {
	body {zoom:50%; font-size: 16px}
	section {height: 522px}	
	#Main .container { width: initial}
	label.scrollbutton {bottom: -75px}
	.man {width: 135%; margin: -100px 0 0 93px;}
}

@media screen and (max-width: 360px) and (orientation: portrait) {
	body {zoom:50%; font-size: 16px}
	header {height: 190px;}
	section article {width: unset !IMPORTANT;}
	section {
		height: 1000px !IMPORTANT;
		-webkit-box-shadow: inset 750px 0px 0px 0px rgba(0,0,0,0.5) !IMPORTANT;
		-moz-box-shadow: inset 750px 0px 0px 0px rgba(0,0,0,0.5) !IMPORTANT;
		box-shadow: inset 750px 0px 0px 0px rgba(0,0,0,0.5) !IMPORTANT;
	}
	section#Main {height: 810px !IMPORTANT;}
	.container, iframe {display:none}
	#RETF2.render, #RETF2		{background-position-x: 1000px;}
	#RETF2.medals 				{background-position: center}
	#RETF2.concept_art			{background-position: center}
	#RETF2.ingame				{background-position: center}
	#SteamCMD-GUI .container	{display: contents;}
	.console					{font-size: 16px;}
	.icon						{margin: 30px 0px 0px 10px;}
	.screen1 					{margin: 500px 0px 0px -400px;}
	.screen2					{margin: 553px 0px 0px 223px;}
	.screen3					{margin: 400px 0px 0px 400px;}
	#Gallery					{padding: 100px;}
	.wrap						{width: 50%;}
}

/* Default */
section a h1				{color: #bfbfbf !IMPORTANT}
a							{color:#bfbfbf; text-decoration:none;}
section h1, section h1>a	{width:300px; font-size:59px; font-family: 'Nevis'; margin-bottom:14px; text-decoration:none;}
section h2, section h2>a	{width:300px; font-size:39px; font-family: 'Nevis'; margin-bottom:14px; text-decoration:none;}
section p					{color:#4f4f4f}
section article				{position:relative; width:300px; z-index:3;}
section article p			{text-align: justify}